S3_ENDPOINT=https://nbg1.your-objectstorage.com
S3_REGION=nbg1
S3_ACCESS_KEY=my-access-key
S3_SECRET_KEY=my-secret-key
S3_BUCKET_NAME=my-bucket-name

IMAGE_CDN_BASE_URL=https://mycdnname.imgix.net

WPA_ENABLE_DOWNLOAD=0
WPA_ENABLE_UPLOAD=1
WPA_INDEX_REDIRECT=upload
WPA_MANAGE_PASSWORD=Bbdd4%dn7g47qI^M
